* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

p {
    background: black;
    color: white;

    span {
        color: rgb(206, 122, 136);
        font-weight: bold;
    }
    &:hover{
        background-color: palevioletred;
    }
}